<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.svrapi.app"
android:versionCode="1" android:versionName="1.0">
<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.INTERNET" />
<application android:label="@string/app_name"
    android:hasCode="true"
    android:debuggable="true">
    <!--<activity android:name="com.qualcomm.svrapitest.MyNativeActivity"-->
        <!--android:label="@string/app_name"-->
        <!--android:configChanges="orientation|keyboardHidden">-->
        <!--&lt;!&ndash; Tell NativeActivity the name of our .so &ndash;&gt;-->
        <!--<meta-data android:name="android.app.lib_name"-->
            <!--android:value="nt" />-->
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
    <!--</activity>-->
    <activity android:name="com.qualcomm.svrapitest.SvrNativeActivity"
        android:label="@string/app_name"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="reverseLandscape">
        <meta-data android:name="android.app.lib_name" android:value="apitest" />
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="com.qti.intent.category.SNAPDRAGON_VR"/>
        </intent-filter>
    </activity>
</application>
</manifest>

